
doctype html
html(lang="en")
  block head
    include ../includes/head
  body 

    block header
      include ../includes/header

    block main
      main.main
        h1 I'm tamplate for start..

    block footer
      include ../includes/footer